{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-param-reassign": "off",
    "no-tabs": ["error", { "allowIndentationTabs": true }],
    "func-names": "off",
    "import/no-cycle": "off",
    "import/prefer-default-export": "off" // For ref: https://github.com/airbnb/javascript/issues/1365#issue-220713862
  }
}